<div class="row">
    <ul class="breadcrumb">
        <li><a href="#/">Home</a></li>
        <li class="active">About</li>
    </ul>
    <article class="col-md-12 panel">
        <div class="page-header">
            <h1>About</h1>
        </div>
        <div class="col-md-12">
            <p>
                The 'Tiempo Dojo' <a href="https://en.wikipedia.org/wiki/Users%27_group">User Group</a> brings together members of Hermosillo, Sonora community to share ideas, discuss industry advances and explore the use of algorithms, Web technologies, development methodologies and practices.
            </p>
            <p>
                Our members are a community of like minded individuals seeking first hand, practical exposure to code, best practices, tools and cutting-edge solutions. We meet regularly in Tiempo Development offices. Meetings are free and open. We meet two days at month to solve katas in a coding dojo and discuss the industry.
            </p>
            <h3># What is Coding Dojo</h3>
            <p>
                A Coding Dojo is a periodic meeting (usually weekly) organized around a programming challenge where people are encouraged to participate and share their coding skills with the audience while solving the problem. The main principles of the Coding Dojo are to create a Safe Environment which is collaborative, inclusive, and non-competitive where people can be Continuously Learning. Some of the XP principles align nicely with that, such as Failure – it is OK to fail when learning something new – Redundancy – one can always gain new insights when tackling the same problem with different strategies – and Baby Steps – each step towards the solution should be small enough so that everybody can comprehend and replicate it later.
            </p>
            <h3># What is a Kata?</h3>
            <p>
                A Code Kata is a small, fun problem that shouldn’t take you more than an hour or two to solve in your favourite programming language. The rule is that you must repeat the exercise, and every time try to improve the way you solve the problem. Not just the code you end up with, but the process by which you get to it.
            </p>
            <h3># Our Recipe</h3>
            <ul>
                <li> Problem Choosing</li>
                <li> Problem Discussion</li>
                <li> Coding Session</li>
                <li> Retrospective
                    <ul>
                        <li> What Went Well?</li>
                        <li> What Went Less Well?</li>
                    </ul>
                </li>
            </ul>
            <h3># The Goal is not to Finish</h3>
            <p>Is to learn different algorithms and approaches to problem solving.</p>
            <h3># Are you interested?</h3>
            <p>
                Feel free to contact our organizer <a href="https://github.com/AlgusDark">Carlos Pérez Gutiérrez</a>.
            </p>
            <h3># Are you a member?</h3>
            <p>
                Then fork our <a href="https://github.com/tiempo-dojo/tiempo-dojo.github.io">official repo</a>, <a href="https://github.com/tiempo-dojo/tiempo-dojo.github.io/blob/master/data/members.json">add your info</a> and feel free to improve the site. It is important to contact our organizer so you can be in the mailing list.
            </p>
            <h2 class="center"><strong>Let's write clean and understandable code.</strong></h2>
        </div>
    </article>
</div>
